<div class="dashboard-content">

  <h1>Dashboard</h1>

  <div class="dashboard-cards">

    <div class="dashboard-card">
      <h3>Total Loads</h3>
      <p>{{ summary.total_loads }}</p>
    </div>

    <div class="dashboard-card">
      <h3>Created</h3>
      <p>{{ summary.created_loads }}</p>
    </div>

    <div class="dashboard-card">
      <h3>In Transit</h3>
      <p>{{ summary.in_transit_loads }}</p>
    </div>

    <div class="dashboard-card">
      <h3>Delivered</h3>
      <p>{{ summary.delivered_loads }}</p>
    </div>

  </div>

</div>